<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Jogos por Máteria</title>
        <link rel="stylesheet" href="../css/swiper-bundle-Cat-Jogos.min.css">
        <link rel="stylesheet" href="../css/Menu-Cat-Jogos.css">
        <link rel="stylesheet" href="../css/FormEnvio.css">
                                        
    </head>
    <body>
        <div class="slide-container swiper">
            <div class="slide-content">
                <div class="card-wrapper swiper-wrapper">
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="../images/portugues.jpg" alt="" class="card-img">
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">Português</h2>
                            <p class="description">Aprender línguas é muito mais divertido com jogos pedagógicos!</p>

                            <button class="button">Explorar</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="../images/matematica.jpg" alt="" class="card-img">
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">Matemática</h2>
                            <p class="description">Transforme a matemática em uma aventura divertida com jogos educacionais!</p>

                            <button class="button">Explorar</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="../images/peoo.jpg" alt="" class="card-img">
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">PEOO</h2>
                            <p class="description">Aprenda programação de maneira lúdica e interativa com jogos educacionais!</p>

                            <button class="button">Explorar</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="../images/informatica.jpg" alt="" class="card-img">
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">Informática</h2>
                            <p class="description">Descubra o poder da informática com jogos divertidos e interativos no ensino!</p>

                            <button class="button">Explorar</button>
                        </div>
                    </div>
    
                    
                </div>
            </div>

            <div class="swiper-button-next swiper-navBtn"></div>
            <div class="swiper-button-prev swiper-navBtn"></div>
            <div class="swiper-pagination"></div>
            <button class="button"> <a href="index.html">Voltar</a></button>
        </div>
        
    </body>
    <script src="../js/swiper-bundle-cat-jogos.min.js"></script>
    <script src="../js/script-cat-jogos.js"></script>
</html>